<div id="main-page">
    <a ui-sref="someAction"><div class="action some-action" >{{"someAction"|translate}}</div></a>
    <a ui-sref="anotherAction"><div class="action another-action" >{{"anotherAction"|translate}}</div></a>
</div>