@import "jeet"

[ng\:cloak]
[ng-cloak]
.ng-cloak
	display: none !important

body
	center(800px,20px)
	direction rtl
	font-family Arial, sans-serif
	font-size 14px
	background-color darkgray
	.page
		padding 20px 50px
		background-color lightgray
		border-radius 20px
		min-height 600px
		border 1px solid black
		.menu
			ul
				padding 10px 0
				li
					list-style none
					display inline-block;
					margin-left 30px
					font-size 20px
					a

						color #7c7c7c
						text-decoration none;
						&:hover
							color black




